.container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC C div multi"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}
.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.zero {
  grid-area: zero;
}
.equal {
  grid-area: equal;
}
.dis {
  grid-area: dis;
  background-color: black;
  text-align: right;
  font: size 20px;
}
.blue {
  background-color: #5599ff;
}
.dark-grey {
  background-color: #333;
}
.red {
  background-color: tomato;
}
.total {
  color: yellow;
  padding: 5px 20px;
}
.dis input {
  width: 100%;
  color: white;
  padding: 5px 20px;
  background-color: black;
}
input::placeholder {
  color: white;
  position: right;
}
.padButton:hover {
  color: #ccc;
  border: 1px solid white;
}
